body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    background-color: #f6f6f6;
}

img{
    max-width: 100%;
    max-height: 100%;
    width:auto;
    height: auto;
}

.special-bg{
    background-image: url('../imgs/tile-bg.png');
    background-repeat: repeat;
    
}

.wizyty-bg{
    background-image: url('../imgs/login-bg.jpg');
    background-position: center;
    background-size: cover;
}

.color-2{
    color:#edd4c6
}
.bgcolor-2{
    background-color: #edd4c6;
}

.color-3{
    color:#391417;
}
.bgcolor-3{
    background-color: #391417;
}

main {
    max-width: 1920px;
    width:100%;
    margin:0 auto;
}

.d-f{
    display: flex;
}

.jc-c{
    justify-content: center;
}

.ai-c{
    align-items: center;
}


.login_cover{
    position: fixed;
    left:0;
    top:0;
    width:100vw;
    height: 100vh;
    /* background-color:rgba(221, 221, 221, 0.185);
    filter: blur(0px);
    display: none; */
    display: flex;
    animation: blur_out 2s linear 1;
    animation-fill-mode: forwards;  
    pointer-events: none;

}

.login_popup{
    display: flex;
    position:absolute;
    top:20%;
    left:50%;
    transform: translateX(-50%);
    width:400px;
    height: 100px;
    background-color: white;
    font-size: 20px;
    border:2px solid #391417;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 4px #333;
    animation: fade_out 2s linear 1;
    animation-fill-mode: forwards;  
    text-align: center;
    opacity:0;

}

@keyframes fade_out {
    0%{
        display: flex ;
        opacity:1;
        
    }
    45%{
        transform: translateX(-50%), translateY(-10px);
    }
    70%{
        opacity:1;
        
    }
    90% {
        opacity:0;
    }
    100%{
        transform: translateX(-50%), translateY(-10px);
        display: none;
    }
}

@keyframes blur_out{
    0%{
        display: flex;
    }
    90% {
        /* filter:blur(0); */
    }
    100%{
        display: none;
    }
}
