.front_page{
    width:100%;
    height: 800px;
    max-width:1360px;
    margin-top:40px;
    margin-bottom: 40px;
}


.main_container{
    background-image: url('../imgs/main_bg.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.front_info{
    /* height: 100%; */
    width:50%;
    flex-flow:column;
    justify-content: center;
    box-sizing: border-box;
    padding:20px 20px;
    padding-bottom: 35px;
    background-color: #e1e1e1f0;
    border-bottom: 6px solid #391417;
}

.front_img{
    width:50%;
    height: 100%;
}
.front_img img{
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    border: 6px solid #391417;
}
.front_h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.front_desc{
    font-size:24px;
    margin:10px 0;
}

.front_button{
    text-align: center;
    height: 50px;
    width:250px;
    font-size:20px;
    border-radius:5px;
    transition: .3s;
    color:white;
    cursor: pointer;
    margin: 20px 0 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

.front_button:hover{
        box-shadow: inset 0 0 1px 1px #ddd;
}

.sep_section{
    color:white;
    width:100%;
    height:100px;
    font-size:26px;
    box-shadow: 0px 1px 6px 7px #999;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    box-sizing: border-box;
    padding:0 20px;
}

.team{
    max-width:1360px;
    margin: 50px auto 60px;
    text-align: center;
}

.team .front_desc{
    text-align: justify;
    padding:20px 50px;
    box-sizing: border-box;
}

.content_photo{
    justify-content: space-evenly;
    margin-top:40px;
    /* margin-bottom: 40px; */
}


.img_container img{
    
    display: block;
    transform:scale(1.2) rotate(-1deg)
     ;
    
}
.img_container{
    overflow: hidden;
    border: 10px solid  #391417;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:auto;
    min-width: 300px;
    height: 600px;
    max-height: 600px;
    
}

.content_text{
    width:45%;
}

.pracownicy_section{
    background-image: url('../imgs/pracownicy.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    max-width:1920px;
    width:100%;
    padding: 40px 0;
    box-sizing: border-box;
}

.pracownicy_cont{
    background-color: #f6f6f67c;
    max-width: 1360px;
    width:100%;
    padding:40px 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 5px rgb(59, 59, 59);;
    margin:0 auto;
    flex-wrap: wrap;

}

.pracownik_box{
    max-width:23%;
    width:100%;
    background-color: white;
    box-sizing: border-box;
    padding:15px;
    box-shadow: 0px 0px 5px 5px #ddd;
    flex-flow: column;
    margin:1%;
}

.pracownik_img{
    width:150px;
    height: 150px;
    border:2px solid #000;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.pracownik_name{
    text-align: center;
    width:100%;
    margin-bottom: 20px;
}

.pracownik_desc{
    font-size: 20px;
    height: 175px;
    overflow-y: auto;
    line-height: 25px;
}


.nasze_prace{
    max-width: 1920px;
    width:100%;
    padding-bottom: 50px;

}

.nasze_prace .front_h1{
    font-size: 35px;
    width:100%;
    text-align: center;
}

.prace_cont{
    max-width:1360px;
    width:100%;
    margin:0 auto;
    flex-wrap: wrap;
    background-color: #f6f6f6dc;

}
.prace_img{
    max-width: calc(25% - 2px);
    width:100%;
    height: 400px;
    border:2px solid white;
    overflow: hidden;
    margin:1px;
    box-sizing: border-box;
}

.prace_img img{
    transition: .4s;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.prace_img:hover img{
    transform: scale(1.2);
}


@media (max-width:1100px){
    .front_img {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:900px){
    .prace_img {
        max-width: calc(33% - 2px);
    }
    .pracownicy_cont{
        padding:40px 5px;
    }
    .pracownik_desc{
        font-size:16px;
    }
    .pracownik_img {
        width: 100px;
        height: 100px;
    }
    .pracownik_box{
        max-width:31%;
    }
    .front_img{
        display: none;
    }
    .front_info{
        width:95%;
    }
    .front_page{
        justify-content: center;
    }
    .sep_section{
        font-size: 22px;
    }
    .content_photo{
        flex-direction: column;
    }
    .content_text {
        width: 95%;
    }
}

@media (max-width:600px){
    .pracownik_box{
        max-width:48%;
    }

    .prace_img {
        max-width: calc(50% - 2px);
        height: 300px;
    }
}


@media (max-width:500px){
    .front_page{
        height: 550px;
    }
    .img_container{
        height: 400px;
    }
    .front_desc{
        font-size: 18px;
    }

    .front_info .front_h1{
        font-size:22px;
    }

    .sep_section{
        font-size: 16px;
        padding:0 10px;
    }
}